        /* CSS Reset */
*{
    list-style: none;
    margin:0;
    padding: 0;
    text-decoration: none;
    color:black;
    font-weight: normal;
    font-size: 16px;
}

a{
    color:black;
}

.layout {
    display: flex;
}


        /* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 250px;
    background-color: #616161;
}

.sidebar-logo {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid;
    border-width: 1px;
}

.sidebar-logo > h1 {
    font-size: x-large;
    font-weight: bolder;
}

.sidebar-logo > h2 {
    font-size: medium;
    font-weight: bolder;
    color: #DBDBDB;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #DBDBDB;
    /* font-weight: bold; */
}

.nav-section {
    padding: 30px 20px 10px 20px;
}

.nav-section-2 {
    padding: 30px 20px 10px 20px;
}

.nav-section-3 {
    padding: 30px 20px 10px 20px;   
}

.nav-item {
    border: 10px;
    padding: 10px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #DBDBDB;
}

.nav-item > a {
    font-weight: bold;
    color: #DBDBDB;
}

.nav-item:hover {
    background-color: green;     
}

        /* Main */

.content {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: black;
}