        /* CSS Reset */
*{
    list-style: none;
    margin:0;
    padding: 0;
    text-decoration: none;
    color:black;
    font-weight: normal;
    font-size: 16px;
}

a{
    color:black;
}

body {
    background-color: red;
}